{% block content %}

<nav class="navbar navbar-expand-lg" style="background-color: teal" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% load static %} <img src="{% static "tracker/media/logo.png" %}" alt="Logo" width="48" height="48">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'tracker:index' %}">TRIP MAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'tracker:calendar' %}">CALENDAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'tracker:trip_list' %}">TRIPS LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'tracker:current_location' %}">LAST PARKING LOCATION</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" href="#">Welcome, {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/update_tracker_data">Update Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link active" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/register">Register</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
