{% extends 'base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Zalgiris guess</th>
      <th scope="col">Barcelona guess</th>
      <th scope="col">Guess accuracy</th>
      <th scope="col">Game date</th>
    </tr>
  </thead>
  <tbody>
    {% for totalizator in totalizators %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ totalizator.name }}</td>
      <td>{{ totalizator.zalgiris_guess }}</td>
      <td>{{ totalizator.barcelona_guess }}</td>
      <td>{{ totalizator.guess_accuracy }}</td>
      <td>{{ totalizator.game_score }}</td>
    </tr>
    {% endfor %} {% for game in games %}
    <tr>
      <td colspan="6"><strong>Actual score</strong></td>
    </tr>
    <tr>
      <td></td>
      <td><strong>{{ game.zalgiris_score }}</strong></td>
      <td><strong>{{ game.barcelona_score }}</strong></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}