{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<!--Login-->
{% comment %}
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %} {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">
    Don't have an account? <a href="/register">Create an account</a>.
  </p>
</div>

{% endblock %} {% endcomment %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              {% load static %} <img src="{% static "tracker/media/car.jpg" %}"
              alt="login form" class="img-fluid" style="border-radius: 1rem 0 0
              1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form method="POST">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="{% static "tracker/media/logo.png" %}" alt="Logo" style="margin-right: 10px;"
                    width="80" height="80">
                    <span class="h1 fw-bold mb-0">Tracking App</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-outline mb-4">
                    <!-- <form method="POST"> -->
                    {% csrf_token %} {{ login_form|crispy }}
                    <!-- </form> -->
                  </div>

                  <div class="pt-1 mb-4">
                    <button
                      class="btn btn-dark btn-lg btn-block form-control"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    Don't have an account?
                    <a href="/register" style="color: #393f81">Register here</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
